#checkout
  width: 100%

.checkout
  &__item
    display: flex
    max-height: 140px
    +media-breakpoint-down(xs)
      max-height: 92px

  &__item-image
    margin-right: 28px
    +media-breakpoint-down(xs)
      margin-right: 0
    img
      max-width: 140px
      width: 100%
      height: auto
      +media-breakpoint-down(xs)
        max-width: 92px

  &__item-info
    flex: 0 0 calc(100% - 168px - 40px)
    padding: 30px 35px
    background-color: $grey3
    display: flex
    justify-content: space-between
    align-items: center
    +media-breakpoint-down(md)
      align-items: flex-start
      flex-wrap: wrap
      padding: 25px 10px 25px 35px

    +media-breakpoint-down(xs)
      flex: 0 0 calc(100% - 110px)
      padding: 0 0 0 15px

  .lsp-block-cart-item-row-name
    font-size: 1.6rem
    color: $white-text
    line-height: 1.25
    width: 40%
    +media-breakpoint-down(md)
      width: 80%

    +media-breakpoint-down(xs)
      margin-top: 10px
      font-size: 1.4rem
      //max-height: 20px
      overflow: hidden
      //max-width: 133px

  .lsp-block-cart-item-row-subname
    display: flex
    width: 40%
    +media-breakpoint-down(md)
      width: 20%
      flex-direction: column
      align-items: flex-end

  .lsp-block-cart-item-price-c
    width: 20%
    +media-breakpoint-down(md)
      transform: translateY(-40px)
      width: 80%
    +media-breakpoint-down(xs)
      transform: translateY(-35px)

  .lsp-button-minus,
  .lsp-button-plus,
  .lsp-block-cart-item-amount-c-count
    display: block
    width: 40px
    height: 40px
    +media-breakpoint-down(md)
      width: 30px
      height: 30px
    background-color: $grey5
    text-align: center
    font-size: 1.5rem
    color: $white-text
    font-weight: 400
    line-height: 40px
    border-radius: 0
    margin-right: 1px
    padding: 0
    cursor: pointer
    transition: all 0.25s
    &:hover
      background-color: $grey4

  .lsp-button-minus
    background-image: url(../img/arrow-bottom.svg)
    background-position: center
    background-repeat: no-repeat
    +media-breakpoint-down(md)
      order: 3

  .lsp-button-plus
    background-image: url(../img/arrow-bottom.svg)
    background-position: center
    background-repeat: no-repeat
    transform: rotate(180deg)

  .lsp-block-cart-item-price-c-count,
  .lsp-block-cart-item-price-c-type
    font-size: 2.4rem
    font-weight: 300
    text-align: right
    color: $white-text

  .lsp-js-item-delete
    font-size: 18px
    color: $white-text
    font-weight: 700
    padding: 0 16px
    display: flex
    align-items: center
    cursor: pointer
    transition: all 0.25s
    &:hover
      color: $accent
    +media-breakpoint-down(xs)
      padding: 0 5px

  .lsp-block-cart-item
    margin-bottom: 15px
    &:last-child
      margin-bottom: 30px

  .jstore-cart-total
    font-size: 2.4rem
    font-weight: 300
    color: $white-text
    margin-bottom: 5px
    padding-top: 30px
    border-top: 2px dashed $grey2

  &__price-finish
    text-transform: uppercase

  &__minimum
    font-size: 1.5rem
    color: $grey2
    margin-bottom: 60px

.js-terminal-on-map
  display: none

