input[type="checkbox"]
  width: 0 !important
  height: 0
  position: absolute
  left: 0
  top: 0
  margin-left: 2px
  &::before
    content: ''
    display: block
    position: absolute
    width: 16px
    height: 16px
    background: $white
    left: 0
    top: -2px
    border-radius: 50%
    margin-left: -2px
  &:checked
    &::after
      content: ''
      display: block
      position: absolute
      top: 3px
      left: 3.5px
      width: 9px
      height: 5px
      margin-left: -2px
      border-bottom: 2px solid $accent
      border-left: 2px solid $accent
      transform: rotate(-45deg)
