input[type="radio"]
  width: 0 !important
  height: 0
  position: absolute
  margin-left: 2px
  left: 0
  top: 0
  &::before
    content: ''
    display: block
    position: absolute
    margin-left: -2px
    width: 16px
    height: 16px
    background-color: $white-text
    left: 0
    top: 0
    border-radius: 50%
  &:checked
    &::after
      content: ''
      display: block
      position: absolute
      margin-left: -2px
      width: 8px
      height: 8px
      background-color: $accent
      border-radius: 50%
      left: 4px
      top: 4px