select
  background: $grey3
  border: 0
  border-radius: 0
  color: rgba(255,255,255,0.3)

@media screen and (-webkit-min-device-pixel-ratio:0)
  select 
    height: 40px
    line-height: 40px


select::-moz-focus-inner
  border: 0
  padding: 0

@-moz-document url-prefix()
  select
    padding: 20px 0!important
    
  
@media screen\0
  select
    height: 40px
    line-height: 40px
